@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@font-face {
    font-family: 'nimbus';
    src: url('../font/NimbusSanL-Bol-webfont.woff') format('woff');
    font-style:normal;
}
@font-face {
    font-family: 'dancing_script';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'coolvetica';
    src: url('../font/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../font/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}