/*h2:hover,h3:hover,h1:hover{
    animation:h2hover 0.5s ease backwards;
    animation-iteration-count:1;
	}*/
	
.container:hover img{ 
    opacity:0.25;
    }
.container:hover .middle{
    opacity:100%;
    z-index:1;
    }
    .text{
        
      }
     .text a{
        background:crimson;
        padding:5px 8px;
        border-radius:5px;
        font-size:18px;
        text-decoration:none;
        color:white;
        font-weight:800;
        }
       .text a:hover{
         background:gray;
         padding:5px 8px;
         border-radius:5px;
         }
         
input[type="submit"]:hover{
  border:2px solid red;
  }
  
.up-arrow img:hover{
  border:gray 0.5px dotted;
  }
  
.contact h2 .z:hover, .skills h2 .z:hover, .location h3 .z:hover{
  background: linear-gradient(to right, teal, #00dcdc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }
  
.about h2 .z:hover, .works h2 .z:hover, .contact h3 .z:hover{
  background: linear-gradient(to right, #F17063, #D9376D);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  }