:root{
  --bg:black;
  --bwhite:#f2f2f2;
  --darkbg:#0d0d0d;
  --bteal:#00DCDC;
  }
*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
  loading:lazy;
}
body{
  background:var(--bg);
  padding:0;
  margin:0;
  font-family:Arial;
  }
nav ol{
  width:100vw;
  display:block;
  position:fixed;
  overflow:hidden;
  z-index:100;
  box-shadow: 0px 0px 10px black;
  padding:4px 17px 4px 17px;
  border:0.1px solid black;
  background:var(--darkbg);
  
  opacity:0;
  -webkit-animation:nav 0.5s linear forwards;
  animation:nav 0.5s linear forwards;
  animation-delay:4.5s;
  }
  
nav li{
    display:flex;
	float:left;
	list-style-type: none;
	width:25%;
	text-shadow: black 0px 3px 3px;
  }
nav li a{
    font-family:Arial;
	font-size:20.05px;
	color:white;
	font-weight:750;
	background:var(--darkbg);
	padding:8px 15px 8px 15px;
	text-decoration:none;
	}
nav li a:hover, nav li a:active, nav li a:focus{
    display:flex;
    cursor:pointer;
	color: white;
	border: 3px solid var(--bteal);
	padding:4px 11px 4px 10px;
	border-radius:5px;
	width:55%;
	}
h1{  
  font-size:55px;
  font-weight:550;
  text-align:left;
  line-height:70px;
  color:var(--bwhite);
  text-shadow: black 0px 3px 3px;
  }
h2{
  -webkit-font-weight:900;
  font-family: 'nimbus', sans-serif;
  color:var(--bteal);
  font-size:45px;
  text-align:center; 
  letter-spacing:1px;
  text-shadow: black 0px 3px 3px;
  text-shadow:0 0 .125em hsl(0 0% 100% /0.3), 0 0 .45em currentColor;
	}

h3{
 /* font-family: 'Otomanopee One', sans-serif; */
  position: static;
  font-family:'nimbus';
  font-size:30px;
  text-shadow: black 0px 3px 3px;
  text-align:center;
  margin:15px 0;
  color:var(--bteal);
  letter-spacing:0.5px;
  text-shadow:0 0 .125em hsl(0 0% 100% /0.3), 0 0 .45em currentColor;
  }
h4{
  font-family: 'dancing_script',cursive;
  font-size:30px;
  color:teal;
  margin:5px 30px 0 35px;
  opacity:0;
  animation:nav 0.5s linear forwards;
  animation-delay:7s;
  }
h2:hover,h3:hover,h1:hover,#hi:hover{
    cursor:pointer;
    animation:h2hover 0.5s ease backwards;
    animation-iteration-count:1;
	}
p{
	margin:20px 20px 10px 20px;
	font-size:20px;
	font-family:Arial;
	color:white;
	text-align: justify;
	line-height:30px;
	letter-spacing:0.7px;
	font-weight:475;
 }
header{
  padding-top:27vh;
  margin:auto;
  min-height:100vh;
  width:100vw;
  display:block;
  }  

#hi{
  font-size:47px;
  font-family: 'nimbus';
  margin-left:30px;
  position: relative;
  line-height:55px;
  letter-spacing:-1px;
  animation: effect1 1s ease forwards;
  animation-iteration-count:1;
  animation-delay:0.15s;
  z-index:5;
  }
#Im{
  font-family: 'nimbus';
  margin:0;
  padding:0 0 0 30px;
  position: relative;
  letter-spacing:-1px;
  }
#Im::before,
#Im::after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#Im::before{
  background:var(--bg);
  -webkit-animation:effect2 2s steps(11) forwards;
  animation: effect2 2s steps(24) forwards;
  animation-delay:1.2s;
  }
 
#position{
  font-weight:550;
  font-size:45px;
  font-family: 'nimbus';
  color:var(--bwhite);
  margin:0;
  top:0;
  width:max-content;
  position: relative;
  padding:0 0 0 30px;
  letter-spacing:-1px;
  text-shadow: black 0px 3px 3px;
	}
#position::before,
#position::after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#position::before{
  background:var(--bg);
  animation:effect3 2s steps(26) forwards;
  animation-delay:2.3s;
  }
#position:hover{
  color:var(--bteal);
  }

#comma{
  animation:comma 0s ease forwards;
  animation-delay:1.1s;
  opacity:0;
}  

#B{
  font-size:65px;
  margin-left:3px;
  color:crimson;
  text-shadow:-6px -1.5px 0.2px  #00AEAE, black 0px 3px 3px;
}

#o{
  opacity:0;
  font-size:45px;
  -webkit-animation:effecto 1s linear forwards;
  animation: effecto 0.75s ease forwards;
  animation-delay:4.5s;
  z-index:100;
  }

/*
.lightning img{
  position:static;
  }
.lightning {
  -webkit-animation:lightning 9s infinite;
  animation: lightning 9s infinite;
  -webkit-animation-delay:4.9s;
  animation-delay:4.9s;
  opacity:0;
  animation-iteration-count:0;
  }
*/

.empty{
	width:100px;
	height:45px;
	background:var(--bg);
	}

.about{
	margin:0 0.5vw;
	position:static;
	display:block;
	min-height:100vh;
	width:100vw;
	}

.skills{
	position: static;
	min-height:100vh;
	width:100vw;
	display:block;
	}
.skills iframe{
    background:#1a1a1a;
	display:flex;
	margin:40px auto auto auto;
	align-items: center;
	border:2px solid white;
	width:300px; 
	height:300px;
	border:1px solid var(--darkbg);
    border-radius:50%;
	}
.works{
  position:static;
  min-height:100vh;
  width:100vw;
  display:block;
  }
.works img{
  width:150px;
  height:150px;
  border-radius:15px;
  display:block;
  margin:50px auto 75px auto;
  align-items:center;
  box-shadow: 0 4px 8px 0 #1a1a1a, 0 6px 20px 0 #1a1a1a;
  opacity:1;
  transition:0.5 ease;
  backface-visibility:hidden;
  }
  .container {
    position: relative;
    width:50%;
    }
 .middle{
    transition: 0.5 ease;
    opacity:0%;
    z-index:-1;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }
.container:hover img{ 
    opacity:0.25;
    }
.container:hover .middle{
    opacity:100%;
    z-index:1;
    }
    .text{
        
      }
     .text a{
        background:crimson;
        padding:5px 8px;
        border-radius:5px;
        font-size:18px;
        text-decoration:none;
        color:white;
        font-weight:800;
        }
       .text a:hover{
         background:gray;
         padding:5px 8px;
         border-radius:5px;
         }

.contact{
  position:static;
  min-height:100vh;
  width:100vw;
  display:block;
  }
.contact img{
  width:40px;
  height:40px;
  background:white;
  border-radius:5.01px;
  margin:0 0 10% 10%;
  }

form{
  margin:25px 50px 35px 50px;
  position: relative;
  }
form div{
  background:var(--darkbg);
  margin:10px 0 20px 0;
  border:2px solid var(--bteal);
  padding:8px 20px;
  }
input[type="text"],input[type="email"],textarea{
  font-family:Arial;
  width:100%;
  border:2px solid transparent;
  background: transparent;
  outline:none;
  color:white;
  font-weight:425;
  font-size:18px;
  padding:1px;
  }
label{
  color:white;
  position: relative;
  margin:auto;
  font-size:18px;
  }
input[type="submit"]{
  font-size:20px;
  float:right;
  Margin-right:0px;
  border:2px solid crimson;
  padding:7px 25px;
  background:var(--darkbg);
  color:white;
  }
input[type="submit"]:hover{
  border:2px solid red;
  }
 
.socialmedia{
  display:flex;
  margin:auto;
  padding-top:10px;
  align-items:center;
  justify-content:center;
  }
.socialmedia li{
  float:left;
  list-style:none;
  Margin:0 15px;
  }
div.location h3{
  padding:0 0 15px 0;
  letter-spacing:1.5px;
  }
div.location iframe{
  position:static;
  display:flex;
  margin:auto;
  align-items:center;
  justify-content: center;
  width:85%;
  height:225px;
  border:1px solid white;
  scrolling: false;
  border-radius:5px;
  filter: invert(90%);
  }
footer {
	position: static;
	display:block;
	width:100%;
	background:var(--darkbg);
	padding:5px;
	bottom:0;
	}
footer p{
  font-family:Courier Prime;
  font-weight:light thin;
  text-align:center;
  color:gray;
  }
  
.up-arrow img{
  width:35px;
  height:42.5px;
  position:fixed;
  right:5px;
  bottom:20px;
  animation: up-arrow 2s ease infinite;
  -webkit-animation:up-arrow 2s ease infinite;
  animation-delay:10s;
  opacity:0;
  }
.up-arrow img:hover{
  border:gray 0.5px dotted;
  }
