@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
:root{
  --bg:#001f3f;
  --bwhite: #dddddd;
  --darkbg:#001a33;
  }
*{
  margin:0; 
  padding:0;
}
body{
  background:var(--bg);
  padding:0;
  margin:0;
  font-family:Arial;
  }
nav ol{
  display:block;
  position:fixed;
  overflow:hidden;
  margin:0;
  z-index:5;
  top:0;
  box-shadow: 0px 0px 10px black;
  padding:15px 30px 10px 13px;
  border-bottom:1px solid transparent;
  background:var(--darkbg);
  opacity:0;
  animation:nav 1s linear forwards;
  animation-delay:3.5s;
  }
  @keyframes nav{
  	0%{opacity:100%;}
  	100%{opacity:100%;}
  }
nav li{
	float: left;
	list-style-type: none;
	width:25%;
	text-shadow: black 0px 3px 3px;
  }
nav li a{
	font-family:Arial;
	font-size:20px;
	color:white;
	font-weight:900;
	background:var(--darkbg);
	padding:8px 15px 8px 15px;
	text-decoration:none;
	}
nav li a:hover, li a:active{
	color:crimson;
	background: teal;
	padding:8px 15px 8px 15px;
	border-radius:5px;
	transition-delay:0.1s;
	}
header{
  margin-top:50%;
  }  
h1{
  font-family: 'Otomanopee One', sans-serif;
  font-size:50px;
  text-align:left;
  line-height:70px;
  color:var(--bwhite);
  text-shadow: black 0px 3px 3px;
  width:max-content;
  height:max-content;
  }
h2{
  font-family: 'Otomanopee One', sans-serif;
  font-size:40px;
  text-shadow: black 0px 3px 3px;
  z-index:-1;
  top:40px;
  margin-top:10px;
  color:teal;
  text-align:center; 
	}
h2:hover{
	color: crimson;
	}
h3{
  font-family: 'Otomanopee One', sans-serif;
  font-size:30px;
  text-shadow: black 0px 3px 3px;
  text-align:center;
  margin-top:15px;
  color:teal;
  }
  
 p{
	margin:20px 20px 10px 20px;
	font-size:20px;
	font-family:Arial;
	color:white;
	text-align: justify;
	line-height:30px;
	letter-spacing:0.7px;
	font-weight:500;
 }

#hi{
  margin:50% 0 0 30px;
  position: relative;
  animation: effect1 2s ease forwards;
  width:max-content;
  height:max-content;
  transition-delay:0.2s;
  }
  @keyframes effect1{
    25%{font-size:45px; transform:rotate(10deg);}
    50%{font-size:50px;}
    75%{font-size:45px;transform:rotate(-10deg);}
    100%{font-size:50px;}
    }
#Im{
  margin:0 0 0 30px;
  position: relative;
  }
#Im::before,
#Im::after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#Im::before{
  background:var(--bg);
  animation: effect2 2s steps(11) forwards;
  }
  @keyframes effect2{
    to{left:100%;}
    }
#position{
  margin:5px 0 0 30px;
  color:var(--bwhite);
  width:max-content;
  height:41px;
	}
#position::before,
#position::after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  }
#position::before{
  background:var(--bg);
  animation: effect3 2.5s steps(13) forwards;
  }
  @keyframes effect3{
    to{left:100%;}
    }
    
#position:hover{
  color:teal;
  }
  
#B{
  font-size:70px;
  margin-left:3px;
  color:crimson;
  text-shadow:-7px -1px 0  #46b59b, black 0px 3px 3px;
  animation: effectB 10s ease forwards;
  animation-iteration-count: infinite;
}
  @keyframes effectB{
    25%{font-size:60px; transform:rotate(5deg);}
    50%{font-size:75px;}
    75%{font-size:60px;transform:rotate(-5deg);}
    100%{font-size:75px;}
   }
#o{
  opacity:0;
  animation: effecto 0.6s ease forwards;
  animation-delay:2.7s;
  }
  @keyframes effecto{
    1%{position: relative; right:-100px; opacity:100%;}
    25%{position: relative; right:-70px; bottom:30px; opacity:100%;}
    50%{position: relative; right:-50px; bottom:15px; opacity:100%;}
    75%{position: relative; right:-30px; bottom:40px; opacity:100%; font-size:60px; right:0px}
    100%{opacity:100%;}
  }
h1:hover{
  color:red;
  }
.lightning img{
  position:static;
  }
.lightning {
  animation: lightning 9s infinite;
  animation-delay:4.9s;
  opacity:0;
  }
  @keyframes lightning {
      25%, 100% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
    }
.empty{
	width:100px;
	height:45px;
	background:var(--bg);
	}

.about{
	margin:50% 0 0 0;
	position:static;
	height:100%;
	}

.skills{
	position: static;
	height:100%;
	}
.skills iframe{
	display:flex;
	margin:40px auto auto auto;
	align-items: center;
	border:1px solid white;
	width:300px; 
	height:300px;
	border:1px solid var(--darkbg);
    border-radius:50%;
	}
.works{
  position:static;
  height:100%;
  }
.works img{
  width:150px;
  height:150px;
  border-radius:15px;
  display:block;
  margin:50px auto 75px auto;
  align-items:center;
  box-shadow: 0 4px 8px 0 #1a1a1a, 0 6px 20px 0 #1a1a1a;
  opacity:1;
  transition:0.5 ease;
  backface-visibility:hidden;
  }
  .container {
    position: relative;
    width:50%;
    }
 .middle{
    transition: 0.5 ease;
    opacity:0%;
    z-index:-1;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }
.container:hover img{ 
    opacity:0.25;
    }
.container:hover .middle{
    opacity:100%;
    z-index:1;
    }
    .text{
        
      }
     .text a{
        background:crimson;
        padding:5px 8px;
        border-radius:5px;
        font-size:18px;
        text-decoration:none;
        color:white;
        font-weight:800;
        }
       .text a:hover{
         background:gray;
         padding:5px 8px;
         border-radius:5px;
         }

.contact{
  position:static;
  height:100%;
  }
.contact img{
  width:40px;
  height:40px;
  background:white;
  border-radius:5.01px;
  margin:0 0 10% 10%;
  }


  @keyframes up-arrow{
    0%{bottom:20px;}
    50%{bottom:25px;}
    100%{bottom:18px;}
    }
form{
  margin:25px 50px 35px 50px;
  position: relative;
  }
form div{
  background:#001a33;
  margin:10px 0 20px 0;
  border:2px solid teal;
  padding:8px 20px;
  }
input[type="text"],input[type="email"],textarea{
  font-family:Arial;
  width:100%;
  border:2px solid transparent;
  background: transparent;
  outline:none;
  color:white;
  font-weight:450;
  font-size:18px;
  padding:1px;
  }
label{
  color:white;
  position: relative;
  margin:auto;
  font-size:18px;
  }
input[type="submit"]{
  font-size:20px;
  float:right;
  Margin-right:10px;
  border:1.5px solid crimson;
  padding:5px 20px;
  background:var(--darkbg);
  color:white;
  }
input[type="submit"]:hover{
  border:1.5px solid red;
  }
  
.up-arrow img{
  width:40px;
  height:45px;
  position:fixed;
  right:5px;
  bottom:20px;
  animation: up-arrow 2s ease infinite;
  }
 
.socialmedia{
  display:flex;
  margin:auto;
  padding-top:10px;
  align-items:center;
  justify-content:center;
  }
.socialmedia li{
  float:left;
  list-style:none;
  Margin:0 15px;
  }
footer {
	position: static;
	background:var(--darkbg);
	padding:5px;
	bottom:0;
	}
